/* General Website Style rules */
body {
    font-family: "Times New Roman", Times;
    background-color: rgb(235, 248, 251);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*Top div class*/
.div-1 {
  background-color: lightskyblue;
  height:300px; 
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}
/*Top header profile image*/
.profile-small {
  height:140px;
  border-radius: 50%;
  border: 10px double #FFFFFF;
}

/*Styling element instead of specific class*/
h1 {
  font-size:60px;
  color:white;
  margin:5px;
}
.p-1 {
font-size:20px;
color: white;
margin:8px;
}

/*Comment: this will change all hyperlinked text to have this color*/
.link-style {
  font-size:15px;
  color: rgb(0, 115, 186); 
}
footer {
  height:auto;
  background-color:lightskyblue;
}
h2 {
color:white;
margin:10px;
padding:40px;
margin:0;
text-align:center;
}

.div-2 {
  background-color: rgb(235, 248, 251);
  height:30px; 
  padding:5px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: relative; /*Allows positioning for our child elements*/
}

#selectedBookTitle {
  flex-grow: 1; 
  text-align: center;
  margin-left: auto; /*Pushes the title to the center */
  margin-right: auto; /*Pushes the title to the center */
  font-size:20px;
  color: rgb(0, 115, 186); 
}

#bookCount {
  margin-left: auto;
  font-size:20px;
  color: rgb(0, 115, 186); 
}

.title-wrapper {
  flex: 1;
  display: flex;
  justify-content: center; 
  position: absolute; /*Take it out of the normal flow*/
  left: 0;
  right: 0;
}

.book img {
  max-width: 60%; /* Adjust to make books smaller ! ! !*/
  border-radius: 8px;
}

.book p {
  display: none; /* not displaying book title anymore */
}

.book {
  margin: 2px; /* Add margin for a little space between books, boxes underneath */
  text-align: center;
  border: none;
  background-color: transparent;
}

/* Container for the Book Grid */
.book-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-gap: 5px; /* Space between grid items */
  padding: 5px; /* Padding around the grid from edges*/
  grid-row-gap: 30px; /* Additional vertical space between rows */
}

.next-button {
  /* height:70px */
  height:10%;
  width: 100px;

}

/*Top div class*/
.div-3 {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
  background-color: rgb(235, 248, 251);
  height:70px; 
  padding:5px;
}